<%- include("templates/head") %>
<body>
    <header>
     <h1><%= h1 %></h1>   
    </header>
    <main>
        <img src="https://http.cat/images/100.jpg" alt="tot anirà bé">
    </main>
<%- include ("templates/footer") %>    
</body>

</html>